### Virtual env folder
.venv
venv

### __pycache__ files and folders
__pycache__/
*.pyc

### logger file target
runtime/*

### used to keep folder structure for general app tidyness
!.gitkeep

### environment variables
.env